.task {
  background-color: #f4f4f4;
  margin: 10px 20px;
  cursor: pointer;
  padding: 10px 20px;
}

.task.reminder {
  border-left: 5px solid green;
}

.task h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
